<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle ng-click="entitySelected(this)" class="tree-node tree-node-content" >
        <a class="btn  btn-xs" ng-if="entity.children && entity.children.length > 0" data-nodrag
           ng-click="toggle(this, $event)">
            <span class="glyphicon"
                ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}">
            </span>
        </a>
        <span >{{entity.title.value}}</span>
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this, $event)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="pull-right btn btn-xs" data-nodrag ng-click="newSubItem(this, $event)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a class="pull-right btn btn-xs" data-nodrag ng-click="resizeFull(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-resize-full"></span>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="entity.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="entity in entity.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div class="row" ng-click="isCollapsed = !isCollapsed">
    <div class="col-sm-12">
        <h3 class="expandCollapse">
            <i ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right"></i>
            <i ng-hide="isCollapsed" class="glyphicon glyphicon-chevron-down"></i>
            {{entityPluralTitle}}
        </h3>
        <a ng-hide="isCollapsed" class="btn btn-xs " ng-click="expandAll($event)">
            <img src="../../images/expandAll.png" class="buttonIcon">
        </a>
        <a ng-hide="isCollapsed" class="btn btn-xs " ng-click="collapseAll($event)">
            <img src="../../images/collapseAll.png" class="buttonIcon">
        </a>
    </div>
</div>

<div uib-collapse="isCollapsed" class="row">
    <div class="col-sm-6">
        <div ui-tree id="tree-root" data-drag-delay="500">
            <ol ui-tree-nodes ng-model="novel[novelArrayProperty]">
                <li ui-tree-node
                    ng-include="'nodes_renderer.html'"
                    ng-repeat="entity in novel[novelArrayProperty]" ></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <dynamic-form entity="currentEntity" submit-method="entitySubmit" title="{{entityTitle}}">
        </dynamic-form>
    </div>
</div>