<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle ng-click="eventSelected(this)" class="tree-node tree-node-content" >
        <a class="btn  btn-xs" ng-if="event.children && event.children.length > 0" data-nodrag
           ng-click="toggle(this, $event)">
            <span class="glyphicon"
                ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}">
            </span>
        </a>
        <span >{{event.title.value}}</span>
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this, $event)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="pull-right btn btn-xs" data-nodrag ng-click="newSubItem(this, $event)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="event.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="event in event.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div class="row">
    <div class="col-sm-12">
        <h3 class="expandCollapse">Events</h3>
        <a class="btn btn-xs " ng-click="expandAll()">
            <img src="../../images/expandAll.png" class="buttonIcon">
        </a>
        <a class="btn btn-xs " ng-click="collapseAll()">
            <img src="../../images/collapseAll.png" class="buttonIcon">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div ui-tree id="tree-root" data-drag-delay="500">
            <ol ui-tree-nodes ng-model="novel.events">
                <li ng-repeat="event in novel.events" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <dynamic-form entity="currentEvent" submit-method="eventSubmit" title="Event">
        </dynamic-form>
    </div>
</div>